:root {
    --white: #ffffff;
    --black: #000000;
    --lt-black: #262626;
    --yellow: #ECE480;
    --green: #62895B;
    --green-btn: #638a5c;
    --text-subtitle: #565656;
    --text-p: #6f6f6f;
    --text-black: #1f1f1f;
    --text-gray: #4E4E4E;
    --copyright: #a5a5a5;
    --input-bkgrnd: #c3c3c3;
    --input-text: #333333;
    --connect-bkgrnd: #fafafa;
    --or-btn: #7fa579;
    --facebook: #3b5897;
    --twitter: #53abee;
    --google: #de4e3b;
    --linkedin: #00a1db;
    --login-input-bkgrnd: #eeeeee;
    --green-btn-light: #7fa579;
    --journal-bkgrnd: #ebf5ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
a,
button,
input {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--white);
    min-width: 780px;
    overflow-x: hidden;
    position: relative;
}

a,
button {
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.connect a {
    text-transform: none;
}

button {
    border: none;
    background-color: inherit;
}

/*Typography*/
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--lt-black);
}

header a,
header button {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
}

h2 {
    font-size: 4.25rem;
    font-weight: 600;
    color: var(--white);
}

.hero h2 {
    font-size: 4.25rem;
    font-weight: 400;
    color: var(--white);
}

.hero p {
    font-size: 1.625rem;
    font-weight: 00;
    letter-spacing: .01em;
    color: var(--white);
}

.input-search {
    font-size: 2rem;
    color: var(--input-bkgrnd);
}

.btn-search {
    font-size: 2rem;
    color: var(--white);
}

.main-content > h2,
.explore-content > h2 {
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--text-subtitle);
}

.card h3 {
    font-size: 2.875rem;
    font-weight: 600;
    color: var(--black);
}

.card p:first-of-type {
    font-size: 1.5625rem;
    font-weight: 600;
    color: var(--black);
}

p {
    font-weight: 400;
    color: var(--text-p);
}

.learn-more {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--white);
}

.connect h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-gray);
}

.connect p {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--text-black);
}

footer h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

footer p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--copyright);
}

footer a,
footer button {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.explore-grid .hike-stats p {
    font-size: 1.875rem;
    font-weight: 400;
    color: var(--black);
}

.explore-grid .card .hike-info {
    font-size: 1.625rem;
    font-weight: 400;
    color: var(--text-p);
    line-height: 39px;
}

.signup-classic h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--black);
}

.signup-form input {
    font-size: 1.25rem;
    color: var(--input-text);
}

.signup-classic fieldset::after,
.signup-classic fieldset.email::after,
.signup-classic fieldset.password::after {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1.4rem;
    margin-top: .5625em;
}

.signup-or {
    font-size: 1.875em;
    font-weight: 800;
    text-shadow: 0 a 1px var(--black);
}

.btn {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--white);
    text-shadow: 0 0 1px var(--black);
}

.login-container h2,
.login-container a {
    color: var(--text-black);
}

.login-form input {
    font-size: 1.5rem;
}

.login-container button {
    font-size: 1rem;
	font-weight: 800;
    color: var(--white);
    letter-spacing: 1px;
}

.hero-journal h2 {
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--white);
    text-shadow:            
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black,
    -0.02em -0.02em black,
    -0.02em 0.02em black,
    0.02em -0.02em black,
    0.02em 0.02em black;
}

.journal h2 {
    color: var(--lt-black);
}

.journal-card h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.journal-hike-date p {
    color: var(--white);
    font-weight: 600;
    text-shadow: 0 0 1px var(--black);
    font-size: 1.25rem;
}

/*** HEADER ***/
header {
    display: flex;
    justify-content: space-between;
    height: 6.625em;
    padding: 1.75em 1.4375em 1.8125em;
    width: 100%;
}

.logo-div {
    display: flex;
    flex-direction: row;   
    align-items: center
}

.logo-div div {
    display: flex;
}

.logo-div img {
    height: 40.22px;
    width: 45.35px;
}

.logo-div img:nth-child(2) {
    transform: translateX(-75%);
    z-index: 2;
}

.logo-div h1 {
    transform: translateX(-10%);
}

.nav-mobile-img {
    display: inline-block;
    margin-top: 7px;
}

.mobile-nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    z-index: 2;
}

.btn-mobile-nav-close {
    position: fixed;
    top: .5em;
    right: 1em;
    color: var(--white);
    font-size: 3rem;
    padding: .25;
    transition: all ease-in-out .5s;
}

.btn-mobile-nav-close:hover,
.btn-mobile-nav-close:focus {
    transform: scale(1.3);
}

.mobile-nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7em auto 0;
    gap: 3em;
}

.mobile-nav-text a {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .25em;
    color: var(--white);
    text-align: center;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.mobile-nav-text a:hover,
.mobile-nav-text a:focus {
   transform: scale(1.1);;
    font-weight: 600;
}

.nav-desktop {
    display: none;
}

.a-home:hover,
.a-home:focus,
.btn-dropdown:hover,
.btn-dropdown:focus{
    text-decoration: underline;
}

.a-home {
    padding-right: 2em;
}

.btn-dropdown {
    margin: 0;
    padding: 0 .5em .6em .15em;
}

.dropdown {
    overflow: hidden;
}

.dropdown {
    transition: ease-out 1s;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    right: 428px;
    background-color: var(--white);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}
  
  .dropdown-content a:hover {
    background-color: #ddd;
}

  .dropdown:hover .dropdown-content {
    display: block;
}

.btn-signup:hover,
.btn-signup:focus,
.btn-search:hover,
.btn-search:focus,
.learn-more:hover,
.learn-more:focus {
    background-color: var(--green-btn-light);
}

.btn-login:hover,
.btn-focus {
    background-color: var(--journal-bkgrnd);
}

/*** HERO ***/
.hero {
    position: relative;
    background: var(--lt-black);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29));
    background-image: url("../assets/images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5em;
    display: grid;
    margin-bottom: 3.5em;
}

.overlay {
    position: absolute;
    background:rgba(0, 0, 0, 0.5);
    height: 70%;
    display: grid;
    padding: 4.5em 2.9375em 0;
}

.hero-col2 {
    position: absolute;
    bottom: 3.5625em;
    left: 3.125em;
    right: 3.125em;
    
}

.hero h2,
.hero p {
   width: 70%;
}

.hero h2 {
    align-self: center;
}

.hero p {
    align-self: start;
}

.input-search {
    display: inline;
    height: 69px;
    width: 100%;
    padding-left: 2em;
    border-radius: 6px;
}

.magnifier {
    position: absolute;
    top: 20px;
    left: 15px;
}

.btn-search {
    position: absolute;
    background-color: var(--green-btn);
    border-radius: 0px 4px 4px 0px;
    height: 62px;
    width: 183px;
    transform: translate(-187px, 4px);
}

.hero-explore {
    height: 26.375em;
}

.overlay-explore {
    height: 100%;
}

.hero-explore .hero-col1 h2 {
    width: 100%;
}

/*** MAIN CONTENT - Cards ***/
.main-content {
    margin: 0 1.4375em;
}

.main-content h2,
.explore-content h2 {
    margin-bottom: 1.375em;
}

.card {
    display: grid;
    margin-bottom: 3.625em;
}

.card img {
    width: 100%;
    margin-bottom: 2.8125em;
}

.card h3 {
    margin-bottom: .5em;
}

.card p {
    margin-bottom: 1.3125em;
}

.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    padding: .5em 1em;
    border: 2px solid var(--green-btn);
    border-radius: 4px;
    background-color: var(--green-btn);
}

/*** CONNECT WITH US ***/
.connect {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 50px;
    text-align: center;
    background-color: var(--connect-bkgrnd);
    padding: 4.3em 0 5.625em;
}

.connect div img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.connect-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-text h2 {
    margin: 1.625em auto;
}

.connect-text p {
    width: 60%;
}

/*** FOOTER ***/
footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.4375em 0;
}

.nav-footer {
    margin-bottom: 2.0625em;
    display: flex;
    gap: 1.5em;
}

.footer-logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo-div div {
    display: flex;
    transform: translateX(15%);
}

.footer-logo-div img {
    height: 27px;
    width: 34px;
}

.footer-logo-div img:nth-child(2) {
    transform: translateX(-75%);
    z-index: 2;
}

footer p {
    margin: .5em 0 0 1.5625em;
}

/*EXPLORE PAGE*/
.explore-content {
    margin: 0 1.4375em;
}

.hike-stats {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.explore-grid .hike-stats p {
    margin-top: .5rem;
}

.rating-star {
    display: flex;
    justify-content: baseline;
    height: 28px;
    width: 34px !important;
    margin-left: .5rem;
}

.map {
    display: none;
    height: 49.6875em;
    width: 52.4375em;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1220px) {
    header {
        align-items: center;
    }

    .nav-mobile-img {
        display: none;
    }

    .nav-desktop {
        display: flex;
        align-items: baseline;
    }

    .btn-signup {
        display: inline;
        background: var(--green-btn);
        color: var(--white);
        padding: .5em 1.5em;
        margin: 0 2em;
    }

    .btn-login {
        display: inline;
        border: 2px solid var(--black);
        padding: .425em 1.425em;
    }

    .hero {
        grid-template-columns: auto auto;
    }

    .overlay {
        width: 40%;
        height: 100%;
    }

    .hero h2,
    .hero p {
        width: 80%;
    }

    .hero-col1 {
        justify-content: center;
    }

    .hero-col2 {
        max-width: 50%;
        left: 45%;
    }

    .hero-explore {
        height: 600px;
    }

    .hero-explore .hero-col1 {
        width: 47%;
    }

    .hero-explore .hero-col1 h2 {
        width: 70%;
    }

    .hero-explore .hero-col1 p {
        width: 100%;
    }

    .main-content {
        font-size: 1.5rem;
        max-width: 1800px;
        padding: 0 2em;
        margin: 0 auto;
    }

    .main-content p {
        line-height: 1.5;
    }

    .card-odd {
        grid-template-columns: auto auto;
        gap: 10%;

    }

    .card-even {
        grid-template-columns: auto auto;   
        gap: 10%;
    }

    .card-even .card-img {
        order: 2;
    }

    .card-even .card-text {
        order: 1;
    }

    .card-img{
        height: 480px;
        width: 740px;
    }

    .card-text {
        width: 70%;
        align-self: center;
    }

    .explore-content {
        max-width: 1800px;
        padding: 0 2em;
        margin: 0 auto;
    }

    .explore-grid {
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 0 auto;
        gap: 1.5em;
        width: 1440px;
    }

    .explore-cards {
        display: grid;
        grid-template-rows: auto auto auto;
    }

    .explore-cards .card {
        position: relative;
        grid-template-columns: auto;
        width: 564px;
    }

    .explore-cards .card-text {
        width: auto;
    }

    .explore-cards .card-img {
        position: absolute;
        right: 0;
    }
    
    .explore-cards .card-img img {
        width: 144px;
        height: 111px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .explore-cards .card:not(:last-child) {
        border-bottom: 1px solid #a8a8a8;
    }

    .explore-content h2 {
        margin-bottom: 1.8125em;
    }

    .explore-cards .card h3 {
        font-size: 2rem;
    }

    .explore-cards .card p {
        margin-bottom: 2.8125em;
    }

    .map-image {
        width: auto;
        height: 795px;
        border: 1px solid #cecece;
        border-radius: 7px;
    }

    .map {
        display: block;
        width: 839px;
    }

    .map .embeded-image {
        width: 100%;
        height: 100%;
    }

    .connect {
        grid-template-columns: auto auto auto;
        padding: 5em 0 0 ;
    }

    .connect div:last-child img {
        margin-bottom: .5em;
    }

    .connect-text p {
        max-width: 450px;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 4.625em 1.9375em;
    }

    .nav-footer {
        order: 2;
        align-items: center;
    }

    .nav-footer .btn-signup,
    .nav-footer .btn-login {
        margin-left: 0;
        padding: 0;
        background-color: inherit;
    }

    .signup {
        flex-direction: row;
        gap: 0;
        max-width: 1200px;
    }

    .signup-classic {
        padding: 0 3.125em;
    }
}

