body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#0B06B9, #06B90B);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #B90B06;
    margin-bottom: 10px;
}

#bday-age {
    background: #B90B06;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #B90B06;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 600px;
    height: 400px;
    border: 6px solid #BC6037;
    border-radius: 8px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.webp");
    max-width: 400px;
}

#gift-img-ski:hover {
    background-image: url("images/ski.webp");
}

#gift-img-intense:hover {
    background-image: url("images/intense.webp");
    max-width: 400px;
}

#gift-img-racing:hover {
    background-image: url("images/racing.webp");
}

#gift-img-birthday:hover {
    background-image: url("images/birthday.webp");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
