:root {
    --background: #121212;
    --white: #ffffff;
    --smoke: #E5E7EB;
    --slate: #4b4b4b;
    --gray: #787878;
    --lt-gray: #a5a5a5;
    --dk-gray: #2e2e2f;
    --magnifier: #9CA3AF;
}

*{
    box-sizing: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--white);
}

/*==============
   Typography
   Inter Fonts 400,500, 700, 800
===============*/
h1, p, a, input, button {
    font-family: 'Inter', sans-serif;
    font-stretch: normal;
    font-size: .875rem;
    line-height: 1.25em;
}

h1  {
    font-weight: 800; 
    font-size: 2.6875rem;   
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}


/*===============
     Header
     All Pages
================*/
.p-bold {
    font-weight: 700;
    font-size: 1.125rem;    
    margin-top: .5em;
    line-height: 2.3125em;
    color: var(--gray);
}

input:hover, input:focus {
    outline: none;
}

.icon-div:hover, .icon-div:focus {
    cursor: pointer;
    background: var(--gray);
    outline: none;
}

/*================
   index.html 
   Main-Content
==================*/
.flex-find {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12.5em;
    background-image: url("../images/background-img.png");
    background-size: cover;
    padding: 0 3.125em;
}

.flex-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -12px;
}

.input-search {
    background: var(--dk-gray);
    color: var(--lt-gray);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 0px 0px 6px;
    border: none;
    width: 500px;
    height: 2.376em; /*38px*/
    margin-left: 3.125em;
    padding-left: 2.5em;
    cursor: pointer;
}

#inputEl {
    background-image: url("../images/magnifier-icon.png");
    background-repeat: no-repeat;
    background-position: .625em;
    color: var(--magnifier);
}

.btn-search {
    background: var(--slate);
    color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 2.46em; /*40px*/
    border-radius: 0px 6px 6px 0px;
    margin-right: 3.125em;
    cursor: pointer;
}

.btn-search:active,
.btn-search:focus,
.btn-search:hover {
    outline: none;
}

.main-content-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9.375em;
}

.main-content-hidden > p {
    color: var(--dk-gray);
}

/*=================
    index.html
    JavaScript 
    Main-Content
==================*/
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 2.8125em;
    border-bottom: 1.5px solid var(--smoke);
}

.film-poster {
    height: 150px;
    width: 100px;
    border-radius: 2.5px;
    margin: 2.1875em 1.3125em 2.094em 0;
}

.film-data {
    font-size: .75rem;
    font-weight: 400;
}

.film-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.star {
    margin: auto .4375em;
}

.runtime {
    padding-right: .3125em;
}

.plus {
    padding-right: .4375em;
    margin-bottom: -3px; 
    background-image: url("../images/plus-icon.png");
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    padding-bottom: .3125em;
    margin-left: .75rem; 
    cursor: pointer;
}

.minus {
    padding-right: .4375em;
    margin-bottom: -3px; 
    background-image: url("../images/minus-icon.png");
    background-repeat: no-repeat;
    padding-right: 1.5rem;
    padding-bottom: .3125em;
    margin-left: .75rem; 
    cursor: pointer;
}

.btn-watchlist {
    color: var(--white);
    background: var(--background); 
    padding-left: .35rem;
}

.grow:hover, .grow:active {
    background-size: 20px;
    background-position: 0px 11.5px;
    padding: 12px;
}

.plot {
    color: var(--lt-gray);
    font-size: .875rem;
}

div.flex-row > p {
    margin: .3438em 0;
}


/*===================
    Watchlist.html 
    Main Content
=====================*/

.flex-list-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.375em;
    color: var(--gray);
    
}

.plus-icon {
    color: var(--white);
    width: 15px;
    height: 15px;
    padding-top: 1.063em;
    padding-right: .5em;
}

.plus-idiv {
    display: flex;
    flex-direction: row;
    margin: -17px;
    
}

div.plus-idiv > p {
    color: var(--white);
    font-size: .875rem;
}

@media (min-width: 760px) {
    html {
        font-size: 1.25rem;
    }
    #main-content {
        margin: 0 2.5em;
    }
    .grow:hover, .grow:active {
        background-size: 20px;
        background-position: 0px 11.5px;
        padding: 12px;
    }
    .grow:hover, .grow:active {
        padding-right: 18px;
    }
    .star {
        width: 18px;
    }
}

@media (min-width: 1020px) {
    html {
        font-size: 1.5rem;
    }
    #main-content {
        margin: 0 5em;
    }
    .flex-find {
        padding: 0 7em;
    }
    .grow:hover, .grow:active {
        padding-right: 24px;
    }
    .star {
        width: 20px;
        margin-bottom: .5px;
    }
}