:root {
    --white: #ffffff;
    --nav: #090909;
    --black: #000000;
    --title: #141414;
    --summary: #505050;
    --post: #151515;
    --footer: #ececec;
    --copyright: #d7d7d7;
    --footer-back: #202020;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Typography*/
body {
    font-size: 16px; /*default, root font-size*/
    background: var(--white);
    min-width: 414px;
    overflow-x: hidden;
}

h1, h2, h3, p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--post);
}

header a {
    color: var(--nav);
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

header a,
.hero-date,
.post-date,
footer {
    font-size: 0.75rem;
}

.bold {
    font-weight: 700;
}

/* .hero p,
.post-date,
.post-text,
.copyright {
    font-weight: 400;
} */

h2,
.post-title,
.view-more,
.footer-title {
    font-weight: 700;
}

/*header and nav*/
.nav-bar {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em auto .75em;
    width: 90%;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;
    list-style: none;
    width: 40%;
}

header img {
    width: 100%;
}

header a {
    color: var(--nav);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

/*hero section-home page*/
.hero {
    background: var(--footer-back) url("./assets/article-image-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    padding: 5.437em 1.875em 1.562em;
    margin-bottom: 2.185em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero p,
.hero h2 {
    color: var(--white);
}

.hero h2 {
    line-height: 1.08;
    padding-bottom: 0.25em;
    max-width: 65%;
}

.hero-summary {
    max-width: 85%;
}

.hero p {
    padding-bottom: 1em;
}

/*main-content*/
.main-content,
.about-me,
.blog {
    margin: 0 auto;
    width: 90%;
    display: grid;
}

.about-me,
.blog {
    gap: 1em;
}

.main-content img {
    width: 100%;
    height: 60%;
    margin-bottom: .875em;
}

.post-date {
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: .5em;
}

.post-title {
    color: var(--title);
    margin-bottom: .375em;
}

.post-text {
    color: var(--summary);
    margin-bottom: 2.562em;
}

.post-text-last {
    margin-bottom: 1.687em;
}

.main-content a {
    color: var(--black);
}

.view-more {
    text-align: center;
    margin-bottom: 6.25em;
}

/*footer*/
footer {
    background-color: var(--footer-back);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    color: var(--footer);
    margin-top: 2.3125em;
    margin-bottom: .125em;
}

.copyright {
    color: var(--copyright);
    margin-bottom: 2.3125em;
}

/*Blog and About Me specifics*/
.blog > .post-date {
    margin: 0;
}

.blog > img {
    width: 100%;
}

.avatar {
    height: 182px;
    width: 182px;
}

.recent {
    text-align: center;
    margin-top: 3.1875em;
    margin-bottom: 1.687em;
}

.hero-summary {
    margin-bottom: 1.687em;
}

@media only screen and (min-width: 600px) {
    .hero h2 {
        max-width: 55%;
    }
    .hero-summary {
        max-width: 75%;
    }
}

@media only screen and (min-width: 768px) {
    .main-content {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 1.625em;
    }

    .main-content,
    .about-me,
    .blog, 
    .nav-bar {
        width: 95%;
    }

    .hero {
        height: 65vh;
    }

    .hero-summary {
        max-width: 75%;
    }

    .hero h2 {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1024px) {
    .main-content {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        gap: 1.625em;
    }

    .hero {
        height: 75vh;
    }

    h2 {
        font-size: 2.5rem;
    }

    .hero-summary {
        max-width: 50%;
    }
}