@font-face {
    font-family: "Cursed Timer";
    src: url("CursedTimerULiL.ttf");
}

* {
    box-sizing: 0;
}

body {
    margin-top: 1em;
    background: #33303b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1b244a;
    color: #eeeeee;
    font-size: 40px;  
    padding: 68px 82px;  
    border-radius: 5px;
} 

.score-count {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

.scoreBoard {
    background: #080001;
    color: #F94F6D;
    font-family: "Cursed Timer";
    font-size: 90px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    margin-top: -25px;
    margin-bottom: 0;
    border-radius: 5px;
    width: 155px;
    height: 120px;
}

.btn {
    background: #1b244a; 
    color: #9AABD8;
    border: 1px solid #9aabd8;
    border-radius: 5px;
    font-family: "Cursed Timer";   
    cursor: pointer;
}

.btn:hover, 
.btn:focus {
    color: #DFEB43;
    background: #29366f;   
    outline: none;
}

.addBtns {
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    width: 45px; 
    margin-top: 40px;
}

.newGameBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    margin-top: 30px;
}

.winner {
    box-shadow: 0 0 0 3px inset #ffffff;
}
