:root {
    --white: #ffffff;
    --dk-green: #10B981;
    --randomColor: #55F991;
    --pastel-green: #e5fcf0
    --navy: #2F3E53;
    --dk-navy: #1F2937; 
    --black: #1c1c1c;
    --dk-blue: #273549; 
    --lt-blue: #3f5676; 
    --text: #D5D4D8; 
    --dk-gray: #999999; 
    --heading: #ffffff;
}

[data-theme='light'] {
    --dk-navy: #e5fcf0;
    --black: #3f5676;
    --dk-blue: #3f5676;
    --text: #273549;
    --randomColor: #10b981;
    --heading: #273549;
}

* {
    box-sizing: border-box;
    transition: all ease-in-out .4s;
}

html, body {
    margin: 0 auto;
    padding: 0;
}

/*Typography*/
h2 {
    font-family: 'Karla', sans-serif;
    font-style: ExtraBold;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: var(--heading);
}

p, label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--text);
}

button, input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

button {
    line-height: 24px;
    color: var(--white);
}

.password-div {
    line-height: 32px;
    letter-spacing: 1px;
    color: #55F991;
    text-align: center;
}

/*Main Section*/
body {
    background: var(--black);
    padding: 35px;
}

.container {
    position: relative;
    background: var(--dk-navy);
    width: 550px;
    height: 550px;
    margin: 0 auto;
    padding: 25px 0 0 52px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.green-letters {
    color: var(--randomColor);
}

p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.slider-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 210px;
    margin-bottom: 15px;
}

.slider-div > label {
    margin-bottom: 5px;
}

.options-div {
    margin-bottom: 15px;
}

.options-div > label {
    font-size: 1rem;
    padding-right: 15px;
}

button {
    background: var(--dk-green);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin-bottom: 35px;
    order: 1;
    text-shadow: 0 0 1 var(--black);
}

.bolt-icon {
    width: 14px;
    height: 18px;
    background: var(--dk-green);
    color: var(--white);
    text-shadow: 0 0 1 var(--black);
}

.line {
    border: 1px solid var(--navy);
    width: 446px;
    margin-bottom: 35px;
}

/*Password Section*/
.passwords-container {
    display: flex;
}

.password-div {
    background: var(--dk-blue);
    border: none;
    border-radius: 6px;
    width: 210px;
    height: 39px;
    padding-top: 3px;
    margin-bottom: 27px;
    margin-right: 24px;
    color: #55F991;       
}

.password-div:hover,
.password-div:focus {
    transform: scale(1.1);
}

.icon {
    background-image: url("icon-2.png");
    background-repeat: no-repeat;
    background-position: 50% 55%; 
}

/*Toggle Button Styles*/
.toggle {
    position: absolute;
    right: 15px;
    top: 10px;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle-background {
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 35px;
    height: 20px;
}

.toggle-background::after {
    border-radius: 50%;
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: all ease-in-out 0.3s;
    width: 12px;
    height: 12px;
}

 .dark-toggle {
    background-color: var(--lt-blue);
    border: 2px solid var(--lt-blue);
}

.dark-toggle::after {
    background-color: var(--text);
    transform: translateX(-40px);
    left: 42.5px;
    top: 2px;
}
 
/*Custom Slider Styles*/
input[type="range"] { 
    margin: 5px auto;
    -webkit-appearance: none;
    overflow: hidden;
    height: 14px;
    width: 100%;
    border: 1px solid var(--dk-navy);
    border-radius: 4px;
    cursor: pointer;
}

::-webkit-slider-runnable-track {
    background: var(--white);
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 20px;
    background: var(--white);
    box-shadow: -100px 0 0 100px var(--dk-green);
    border: 1px solid #1F2937;
}

::-moz-range-track {
    height: 12px;
    background: var(--white);
}

::-moz-range-thumb {
    background: var(--white);
    height: 40px;
    width: 20px;
    border: 3px solid #1f2937;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px var(--dk-green);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: var(--dk-green);
}

::-ms-thumb { 
    background: var(--white);
    border: 2px solid var(--dk-gray);
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: var(--white);
    color: transparent;
    height: 12px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}
  
/*Custom Checkbox Styles*/
.container-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #b1b0b0;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: rgb(189, 233, 204);
}

.container-checkbox input:checked ~
.checkmark {
    background-color: var(--dk-green);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ 
.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Light Mode Specific Classes*/
.light-toggle {
    background-color: var(--white);
    border: 1px solid #000000;
}

.light-toggle::after {
    background-color: var(--dk-green);
    transform: translateX(-24px);
    top: 2px;
}

