:root {
    --black: #000000;
    --white: #ffffff;
    --ash: #fdf7f4;
    --orange: #ffd18c;
    --dk-orange: #ffa724;
}

/* Mobile-first CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    overflow-x: hidden;
}

.center {
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--ash);
}

/* Typography */
li,
 .btn-acct {
    font-size: 1.15rem;
    font-weight: 400;
    list-style: none;
}

.btn-acct {
    font-weight: 700;
    font-size: 1.15rem;
}

.btn {
    font-weight: 700;
    font-size: 1.5rem
}

.container-accounts > p,
.container-spendings > p {
    font-weight: 700;
    font-size: 2rem;
}

.spendings {
    font-size: .95rem;
    font-weight: 700;
}

/*Header*/
header {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}   

.bank-logo {
    height: 73px;
    width: 373px;
    margin: 39px auto;
}

/* Hero Section */
.nav-bar {
    background-color: var(--orange);
    height: 58px; 
    min-width: 100vw;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 57px;
    padding: 18px 18px 0;
}

.nav-item:hover {
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

/*main-section */
.main-content {
    background-color: var(--ash);
    width: 1096px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 18px auto;
}

button {
    background-color: var(--white);
    border: 5px solid var(--dk-orange);
    cursor: pointer;

}

button:hover,
button:focus {
    background-color: var(--orange);
}

.btn {
    height: 77px;
    width: 270px;
    margin-top: 16px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

/*Account Stats Section*/
.container-account-stats {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-bottom: 89px;
}

/* Accounts Sub-section */
.container-accounts {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 16px;
}

.container-accounts > p {
    text-align: center;
}

.btn-acct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 396px;
    padding: 0 32px;
    border-radius: 15px;   
}

/* Spendings Sub-section */
.container-spendings {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.spendings-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-spendings > p {
    margin-bottom: 19px;
    text-align: center;
}

.spendings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    border-radius: 15px;
    padding: 0 20px;
    background-color: var(--orange);
}

.spendings-list {
    width: 453px;
    gap: 12px;
}

.spendings-list li:nth-child(2) {
    width: 419px;
}

.spendings-list li:nth-child(3) {
    width: 329px;
}

.spendings-list li:nth-child(4) {
    width: 255px;
}

.spendings-list li:nth-child(5) {
    width: 217px;
}

@media (min-width: 860px) {
    .btns-container {
        flex-direction: row;
    }

    .container-account-stats {
        flex-direction: row;
        align-items: flex-start;
    }

    .container-accounts > p,
    .container-spendings > p {
        font-size: 40px;
        text-align: left;   
    }

    .container-spendings > p {
        margin-top: 18px;
    }

    .spendings-list {
        width: 407px;
    }
    
    .spendings-list li:nth-child(2) {
        width: 377px;
    }
    
    .spendings-list li:nth-child(3) {
        width: 296px;
    }
    
    .spendings-list li:nth-child(4) {
        width: 230px;
    }
    
    .spendings-list li:nth-child(5) {
        width: 195px;
    }
}

/*desktop*/
@media (min-width: 1080px) {
    .nav-bar {
        height: 66px;
    }

    li {
        font-size: 25px;
    }

    .btn {
        height: 77px;
        width: 275px;
        font-size: 30px;
        margin-top: 33px;
        margin-bottom: 41px;
    }
        
    .btn-acct,
    .spendings {
        font-size: 25px;
    }  

    .btn-acct {
        height: 115px;
        width: 529px;
    }

    .spendings {
        height: 49px;
    }

}

