* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    margin: 0 auto; 
    overflow-x: hidden;   
}

img {
    width: 140px;
    border-radius: 50%;
    border: 4px solid #D7B5B2ff;
}

a {
    text-decoration: none;
}

#hero, #activities, #guide, a {
    font-family: 'Signika', sans-serif;
    color: #643018ff;
    text-align: center;
    letter-spacing: 2px;
}

/*Hero Section*/
#hero {
    background-image: url("images/albuquerque3.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header > h1 {
    margin: 1em auto .25em auto;
    font-size: 45px;
}

.subheader, .header {
    margin: 0 25px;
}

div.transbox {
    font-weight: bold;
    text-shadow: 0px 0px 1px #D7B5B2ff;
    padding-right: 25em;
    margin-top: 3em;
}

/*Activities Section*/
#activities {
    background: #5085D0ff;
    padding: .75em;
    line-height: 1.5em;   
}

.top-ten {
    margin: 2em auto;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 2rem;
    width: 80%;
    text-shadow: 0px 0px 1px #D7B5B2ff;
}

.activities-container {
    display:flex;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

.activity {
    margin-top: 1.2em;
    margin-bottom: 1em;
    text-shadow: 0px 0px 1px #D7B5B2ff;
    width: 20%;
}

.activity > h3 {
    margin: 1.5em auto;
    transition: all 1s ease-in-out;
}

.activity > h3:hover {
    transform: scale(1.2);
}

.activity > p {
    font-weight: 600;
}

/*Guide Section*/
#guide {
    background: #877798ff;
    padding: 1.5em 3em;
}

.guide-container {
    background: #E9A06Cff;
    padding: 2em;
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    line-height: 1.5em;
}

.avatar {
    width: 90%;
}

.guide-container > div {
    width: 200px;
}

.guide-text > p {
    margin-bottom: 1em;
}

/*Media Queries*/
@media (max-width: 900px) {
    #hero {
        flex-direction: row;
        padding: 2em 0 0 4em;
    }

    .subheader, .visit {
        display: none;
    }

    .activities-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .activity {
        width: 100%;
        /* margin: 0 auto; */
    }

    .activity > p {
        width: 75%;
        margin-left: 12.5%;
    }

    .activity > h3 {
        font-size: 1.5rem;
        margin: 1em auto .75em auto;
    }

    .guide-container {
        width: auto;
    }

    .guide-text > p {
        margin-bottom: .5em;
    }
}

@media (max-width: 520px) {
    #hero {
        flex-direction: row;
        padding: .5em 0;
    }
    
    .header {
        margin-left: 3em;
    }

    .activities-container {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 25px;
    }

    #guide {
        margin: 0 auto;
        padding: 0;
    }

    .guide-container {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 1.5em;
    }

    .avatar {
        width: 65%;
        margin-bottom: 1.em;
    }
}



