:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  --text: #293264;
  --white: #f5f7fb;
  --btn: #4d5b9e;
  --answer: #d6dbf5;
  --correct: #9fd7a2;
  --wrong: #f8bcbc;
  --black: #000000;
  --hr: #dbdef0;

}

* {
  box-sizing: border-box;
  margin: 0;
}

/*Typography*/
h1 {
  font-family: 'Karla', sans-serif;
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.3125rem;
}

.start p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.btn-start {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.questions h2 {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1875rem;
}

.footer h2 {
  font-family: inherit;
  font-size: .8rem;
  font-weight: 700;
}

.btn-answer {
  font-family: 'Inter', sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: .75rem; 
}

.btn-check {
  font-family: 'Inter', sans-serif;
  font-size: .625rem;
  font-weight: 600;
}

/*Styles*/
body {
  background-color: var(--black);
}

main {
  position: relative;
  min-height: 100vh;
  padding: 2em 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blob-yellow {
  background-image: url("./assets/images/blob-yellow.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  top: 0;
  right: -138px;
}

.blob-blue {
  background-image: url("./assets/images/blob-blue.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  left: 0;
  bottom: -116px;
}

.blob-yellow-small{
  background-image: url("./assets/images/blob-yellow-small.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  top: 0;
  right: -170px;
}

.blob-blue-small {
  background-image: url("./assets/images/blob-blue-small.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  left: 0px;
  bottom: -172px;
}

button,
input {
  cursor: pointer;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

/*Intro*/
h1 {
  text-align: center;
  color: var(--text);
  margin-bottom: .4375em;
}

.start p {
  text-align: center;
  color: var(--text);
  margin-bottom: 1.8125em;
}

.btn-start {
  background-color: var(--btn);
  color: var(--white);
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  transition: all ease-in-out .4s;
}

.btn-start:hover,
.btn-start:focus {
  background-color: var(--correct);
  color: var(--text);
}

/*Questions*/
.questions {
  flex-direction: column;
  width: 80%;
  z-index: 1;
}

.questions h2 {
  text-align: center;
  color: var(--text);
  margin-bottom: .75em;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .79em;
  margin-bottom: .9375em;
}

.btn-answer {
  text-align: center;
  color: var(--text);
  border: .77px solid var(--btn);
  border-radius: 7.71px;
  min-width: 66px;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.btn-answer:hover {
  box-shadow: 0 0 0 .55px var(--btn);
}

.trivia-cards p {
  width: 100%;
  height: 1px;
  background-color: var(--hr);
  margin-bottom: .9375em;
}

.answers .selected {
  background-color: var(--answer);
}

.answers .not-selected {
  background-color: inherit;
}

#wrong {
  opacity: .5;
  background-color: var(--wrong);
  border: .77px solid var(--wrong);
  cursor: default;
}

#correct {
  background-color: var(--correct);
  border: .77px solid var(--correct);
  cursor: default;
}

#neutral {
  opacity: .5;
  background-color: transparent;
  cursor: default;
}

#wrong:hover,
#correct:hover,
#neutral:hover {
  box-shadow: none;
}

/*Footer*/
.footer {
  margin:  1em auto 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  
}

.btn-check {
  display: flex;
  justify-content: center;
  min-width: 104px;
  margin: 0 auto;
  background-color: var(--btn);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 1em 2em 1.15em;
  transition: all ease-in-out .4s;
  z-index: 2;
}

.btn-check:hover {
  box-shadow: 0 0 0 1px var(--black);
}

.btn-check:active {
  transform: scale(.85);
}

.footer h2 {
  color: var(--text);
  margin: .4em 1.5em 0 0;
  z-index: 2;
}

@media (min-width: 520px) {
  main {
    min-width: 550px;
    margin-left: 138px;
  }
  .footer {
    flex-direction: row;
  }
  .questions h2 {
    text-align: left;
  }
  .answers {
    flex-direction: row;
  }
}




