:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  line-height: 1.2;
  font-weight: 700;
  --text: #293264;
  --white: #f5f7fb;
  --btn: #4d5b9e;
  --answer: #d6dbf5;
  --correct: #9fd7a2;
  --wrong: #f8bcbc;
  --black: #000000;

}

* {
  box-sizing: border-box;
  margin: 0;
}

/*Typography*/
h1 {
  font-family: 'Karla', sans-serif;
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.3125rem;
}

.intro p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

main button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

/*Styles*/
body {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vw;
}

main {
  position: relative;
  height: 550px;
  width: 550px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob-yellow {
  background-image: url("./assets/images/blob-yellow.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  top: 0;
  right: -139px;
}

.blob-blue {
  background-image: url("./assets/images/blob-blue.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 297px;
  height: 235px;
  left: 0;
  bottom: -117px;
}

/*Intro*/
h1 {
  text-align: center;
  color: var(--text);
  margin-bottom: .4375em;
}

.intro p {
  text-align: center;
  color: var(--text);
  margin-bottom: 1.8125em;
}

main button {
  background-color: var(--btn);
  color: var(--white);
  width: 193px;
  height: 52px;
  border: none;
  border-radius: 15px;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

main button:hover,
main button:focus {
  background-color: var(--correct);
  color: var(--text);
}

