:root {
    --white: #ffffff;
    --lt-mint: #edfdf5;
    --mint: #16db99;
    --green: #065f46;
    --orange: #fb8116fd;
    --red: #ff0000;
    --lt-gray: #dedede;
    --gray: #8b8b8b;
    --stone: #757575;
    --dk-gray: #393333;
    --black: #000000;
}

* {
    box-sizing: 0;
    margin: 0;
    /* max-width: 600px; */
}

body {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container {
    width: 600px;
}

/*=== Typography ===*/
body,
header, 
div,
h1, h2, p {
    font-family: 'Smythe', cursive;;
    font-weight: 400;
}

header {
    color: var(--white);
    height: 167px;
}

input,
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 31.12px;
    font-size: 20px;
    border-radius: 3px;
}

input {
    color: var(--stone);
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    color: var(--white);
    background-color: var(--mint);
    font-weight: 700;
    border:none;
    cursor: pointer;
    transition: all ease-in-out .3s;
}

button:hover {
    transform: scale(1.1);
}

.location-name {
    font-size: 39px;
}

.location-description {
    font-size: 22.42px;
}

/*=== Header ===*/
header {
    background-image: url("./assets/alt-background-img.jpg");
    background-size: cover;
    background-repeat: none;
    filter: blur(1.6px);
    box-shadow: inset 0px -8px 3px -3px var(--dk-gray);
}

.header-text {
    position: absolute;
    top: 14%;
    left: 43%;
    transform: translate(20%, -45%);
    color: black;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-shadow: 0 0 5px var(--white);
    min-width: 300px;
}

.meal-deal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding-top: 15px;
}

.meal-deal > p {
    font-size: 28px;
    color: var(--red);
}

.meal-deal > .limit {
    font-size: 18px;
    color: var(--black);
}

.free {
    color: var(--red);
}

/*=== Menu OrderingDiv ===*/
.menu-div {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 46px 45px 46px;
    padding: 8px 0 42px 0;
    border-bottom: 1px solid var(--lt-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.item-img {
    width: 75px;
    height: 85px;
    padding: 0 31px 0 0;
}

.item-div {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-size: 28px;
    margin: 0 0 4px 0;
}

.item-description {
    color: var(--gray);
    font-size: 16px;
    margin: 0 0 10px 0;
}

.item-cost {
    font-size: 20px;
    margin: 0;
}

.add-btn {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    margin-right: 8px;
}

.add-btn:hover {
    transform: scale(1.1);
}

.order-total {
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

/*=== Order Totals ===*/
.checkout {
    margin: 0 46px 53px 46px;
}

.your-order {
    text-align: center;
    font-size: 28px;
    margin: -8px 0 48px 0;
}

.order-subtotal {
    justify-content: space-between;
}

.list-item, .list-total {
    margin: 4px 0;
}

.list-item, .total-text {
    font-size: 28px;
}

.list-total, .total-price {
    font-size: 20px;
}

.remove-btn {
    background: var(--white);
    color: var(--stone);
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
}

.total {
    justify-content: space-between;
    align-items: center;
    margin: 14px 0 38px 0; 
    border-top: 2px solid var(--dk-gray);
}

.total-text, .total-price {
    margin: 10px 0;
}

.btn-purchase {
    font-size: 16px;
    padding: 16px;
    width: 100%;
}

/*=== Payment Modal ===*/
.payment-modal {
    position: fixed;
    top: 80px;
    transform: translateX(5%);
    z-index: 1000;
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3.89px;
    filter: drop-shadow(5.19px 5.19px 255.44px var(--black));
    padding: 47px 24px 24px 24px;
    background-color: var(--white);
}

.hidden-el {
    display: none;
}

.modal-overlay {
    z-index: 1010;
}

.btn-modal-close {
    background-color: var(--white);
    color: var(--gray);
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 34px 0;
}

.card-name, .card-number, .card-cvv {
    border: 1.3px solid var(--stone);
    border-radius: 3.89px;
    margin: 12px 0;
    padding: 16px 26px 13px 26px;
    font-size: 20px;
    width: 90%;
}

.pay-btn {
    width: 100%;
    height: 71.3px;
    border-radius: 3.89px;
    margin: 46px 0 0 0;
}

.pay-btn:hover {
    transform: scale(1.05);
}

.non-clickable {
    pointer-events: none;
}

/* Thank you and Rating */
.thanks {
    background-color: var(--lt-mint);
    border-radius: 3px;
    margin: 0 46px 0 46px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-text {
    color: var(--green);
    font-size: 28px;
}

.ratings-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 150px;
}

.ratings-text {
    color: var(--green);
    font-size: 24px;
    padding-bottom: 6px;
}

.rating {
    width: 180px;
}

.rating-star {
    color: var(--gray);
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.rating-star:hover {
    color: var(--orange);
    transform: scale(1.5);
}

.orange {
    color: var(--orange);
}





