* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #201a23;
    color: #fbfbfb;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.emoji {
    width: 125px;
    height: 25px;
    border: 1px solid red;
}

.light-theme {
    background-color: #d5cce4;
    color: #201a23;
}

.container {
    max-width: 940px;
}

h1 {
    margin: 60px auto 23px;
}

.img-employee {
    height: 219px;
    width: 219px;  
    border-radius: 50%;
    border: 10px solid #44354A; 
}

.display-div {
    font-family: 'Poppins', sans-serif;
    background-color: #44354A;
    border-radius: 50px;
    border: none;
    color: #fbfbfb;
    cursor: default;
}

.live {
    font-size: 32px;
    width: 800px;
    min-height: 48px;
    height: auto;
    word-wrap: break-word;
    padding: 5px 20px;
    margin: 7px 0 40px;
}

.total {
    font-size: 40px;
    text-align: center;
    width: 400px;
    height: 56px;
    margin: 7px 7px 70px;
}


/*Flex Box Styles*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Button Styles*/
button {
    background-color: #9e4770;
    color: #fbfbfb;
    text-shadow: 0 0 1px #000000;
    font-size: 45px;
    height: 80px;
    width: 188px;
    border-radius: 10px;
    border: none;
    margin: 35px 7px 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset {
    width: 400px;
    margin: 0 0 70px;
}

.reset:hover {
    border: 10px inset red;
    color: black;
}

/*Toggle Button Styles*/
.toggle {
    margin-top: 16px;
    position: absolute;
    top: 0;
    right: 20px;
}

.toggle input[type='checkbox'] {
    display: none;
}

.toggle-background {
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 45px;
    height: 22px;
}

.toggle-background::after {
    border-radius: 50%;
    content: '';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: all east-in-out 0.3s;
    width: 14px;
    height: 14px;
}

 .dark-toggle {
    background-color: #44354A;
    border: 2px solid #1e1721;
    border-color: #44354A ;
}

.dark-toggle::after {
    background-color: #9e4770;
    transform: translateX(-40px);
    left: 42.5px;
    top: 2px;
}

.light-toggle {
    background-color: #fbfbfb;
    border: 2px solid #1e1721;
}

.light-toggle::after {
    background-color: #e29cbd;
    right: 3.5px;
    top: 2px;
}

/*Media Queries*/
@media (max-width: 870px) {
   
   .img-employee {
      height: 170px;
      width: 170px; 
   }
   
   button {
       height: 60px;
       width: 141px;
   }
   
    .live {
        width: 500px;
        font-size: 32px;
    }
    
    .total {
        width: 250px;
        font-size: 32px;
    }
    
    .reset {
        margin-top: -25px;
    }

}
